@charset "utf-8";

body {
    padding-top: 0;
}

.block-one, .block-two, .block-three, .block-four{
	padding-top: 100px;
	padding-bottom: 100px;
}

.block-one {
	background-image: url(../img/boston.jpg);
    background-position: top center;
    background-size: cover;
	background-color: #262732;
	color: white;
	
	/*color: white; 
	background: black;
	padding-top: 50px;*/
	/*
	background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/boston.jpg);
    background-size:cover;
  	background-blend-mode:none;
	background-repeat: no-repeat;
	min-height:100%;
	*/
	/*
	background-color: #262732;
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	*/
}

.block-two {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f7f7f7;
}

.block-four { 
	background-image: url(../img/da-nang.jpg);
    background-position: top center;
    background-size: cover;
	background-color: #262732;
	color: white;
}

.logos {
	padding-top: 15px; 
	padding-bottom: 15px;
}

.services, .team-members, .form-block {
	padding-top: 40px; 
	padding-bottom: 40px;
}

.service-item {
	padding-top: 55px; 
	padding-bottom: 55px;
	background-color: #202a49;
	color: white;
	border-radius: 6px 6px 6px 6px;
	margin-top:10px;
	margin-bottom:10px;
}

.icon {
	font-size:60px; 
	color:white;
}

.thumbnail {
	background-color: #202a49;
	
}

.websites {
	background-image: url(../img/websites.png);
    background-position: top center;
    background-size: cover;
	background-color: #262732;
	color: white;
}

.design {
	background-image: url(../img/design.jpg);
    background-position: top center;
    background-size: cover;
	background-color: #262732;
	color: white;
}

.intranets {
	background-image: url(../img/intranets.png);
    background-position: top center;
    background-size: cover;
	background-color: #262732;
	color: white;
}

.it-support {
	background-image: url(../img/it-support.png);
    background-position: top center;
    background-size: cover;
	background-color: #262732;
	color: white;
}

.thumbnail .caption {
	color: white;
}

.team-member {
	
}

.form-control  {text-align: center;
}

.form-control {
	height: 45px;
}

.location {color:#ccc;}
