@charset "utf-8";

body {
    padding-top: 0;
}

.block-one {
	color: white; 
	background: black;
	padding-top: 50px;
	/*
	background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/boston.jpg);
    background-size:cover;
  	background-blend-mode:none;
	background-repeat: no-repeat;
	min-height:100%;
	*/
}

.block-two {
padding-top: 50px;
background-color: #f7f7f7;
}

.logos {
	padding-top: 15px; 
	padding-bottom: 15px;
}

.services {
	padding-top: 15px; 
	padding-bottom: 15px;
}


